<p-table [value]="products" class="cart-container" [tableStyle]="{ 'max-width': '25rem' }">
    <ng-template let-product pTemplate="body">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name"
                class="w-4rem shadow-2 flex-shrink-0 border-round" />
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ product.name }}</span>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-tag text-sm"></i>
                    <span>
                        {{ product.category }}
                    </span>
                </div>
            </div>
            <div>
                <span>{{ product.quantity }}</span>
            </div>
            <span class="font-bold text-900">
                {{ product.price | currency: "BRL" }}
            </span>
        </div>
    </ng-template>
</p-table>