.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3; /* número de linhas desejado */
    -webkit-line-clamp: 3; /* número de linhas desejado */
}