:host ::ng-deep .p-selectbutton .p-button.p-highlight {
    background: var(--app-primary-color);
    border-color: var(--app-primary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2; /* número de linhas desejado */
    -webkit-line-clamp: 2; /* número de linhas desejado */
    height: 2.5rem;
}

.store {
    display: flex;
    align-items: center;
    padding: 50px 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.store span.text-2xl {
    font-size: 1.5rem;
}

.store span.font-semibold {
    font-weight: 600;
}

.store span.text-900 {
    color: #1a202c;
}

.produto:hover {
    cursor: pointer;
    background-color: #f7fafc;
    border-radius: 10px;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight {
    background: var(--app-primary-color);
    border-color: var(--app-primary-color);
}

